.home-grid
{
    display: inline-block;
    min-width: 900px;
    width: 80%;
}

.home-form
{
    text-align: left !important;
}

.home-title
{
    font-size: xx-large;
    background-color: deepskyblue;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}